spring:
  application:
    name: handali

  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: validate

  server:
    servlet:
      session:
        timeout: 1h

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true #이미 존재하는 DB는 버전 0으로 인정하고, 새로운 마이그레이션만 실행
    baseline-version: 0 #기존 DB의 버전 설정

logging:
  level:
    org.springframework: DEBUG
    com.handalsali.handali: DEBUG

jwt:
  secret: ${JWT_SECRET}
